
bar-chart-race==0.1.0
click==8.1.7
colorama==0.4.3
contourpy==1.1.1
espn-api==0.31.0
Flask==3.0.0
fonttools==4.43.0
itsdangerous==2.1.2
Jinja2==3.1.2
keyring==23.5.0
kiwisolver==1.4.5
MarkupSafe==2.1.1
matplotlib==3.8.0
numpy==1.26.0
pandas==2.1.1
Pillow==10.0.1
Werkzeug==3.0.0