.rps {
  overflow: hidden;
}

.rps-game {
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
}

.rps .row .title h1::before {
  left: 30%;
}

.rps .row .title {
  padding: 60px;
}

.rpsButtons {
  background-color: aquamarine;
  color: black;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  margin-block-start: 30px;
}

.rps-game .rpsText1 {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  right: 150px;
}

.rps-game .rpsText2 {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  left: 150px;
  bottom: 30px;
}

.gameResults {
  margin: 40px;
}
