<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/img/football.png" />
    <title>Whitten Oswald | Fantasy</title>
    <link href="../static/css/header.css" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href="../static/css/home.css" rel="stylesheet" />
    <link href="../static/css/contact.css" rel="stylesheet" />
    <link href="../static/css/footer.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="hamburger">
            <i class="fa fa-bars"></i>
          </div>
          <div class="navbar">
            <ul>
              <li><a href="home">Home</a></li>
              <li><a href="projects">Projects</a></li>
              <li><a href="arcade">Arcade</a></li>
              <li><a href="fantasy" class="active">Fantasy</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!-- HOME SECTION -->

    <section class="home" id="home">
      <div class="container">
        <div class="row full-screen">
          <div class="home-content">
            <div class="blocky">
              <h1>
                <span><i class="fa-solid fa-football"></i></span> Fantasy
                Football
              </h1>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FANTASY -->

    <div class="row">
      <div class="container">
        <div class="title text-center">
          <h1>Fantasy Football</h1>
        </div>
        <div>
          <form method="POST">
            <h3 style="margin-left: 25%">Enter League details:</h3>
            <div
              class="form-group"
              style="width: fit-content; margin-left: 20%"
            >
              <label for="id">League ID</label>
              <input
                type="id"
                class="form-control"
                id="id"
                name="id"
                placeholder="Enter league id"
              />
            </div>
            <div
              class="form-group-sm"
              style="width: fit-content; margin-left: 20%"
            >
              <label for="year">Year</label>
              <input
                type="text"
                class="form-control"
                id="year"
                name="year"
                placeholder="Enter year"
              />
            </div>
            <br />
            <button
              type="submit"
              class="btn btn-primary"
              style="margin-left: 20%"
            >
              Submit
            </button>
          </form>
        </div>

        <div>
          {% if display == True %}
          <div align="center">
            <video width="400" height="300" controls>
              <source src="../static/img/fantasy.mp4" type="video/mp4" />
            </video>
            <br />
            <a href="../static/img/fantasy.mp4" download>
              <button type="button">Download mp4</button>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- CONTACT SECTION -->

    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="title text-center">
            <h1>Contact</h1>
          </div>
        </div>
        <div class="row">
          <div class="contact-form">
            <div class="row">
              <div class="contact-text">
                <h2>Question, comment, criticism?</h2>
                <p>Lay it on me.</p>
              </div>
            </div>
            <form
              action="https://formsubmit.co/whittenoswald@gmail.com"
              method="POST"
            >
              <input
                type="hidden"
                name="_subject"
                value="Email from website!!"
              />
              <div class="row space-between">
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="col-6">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email Address"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <textarea
                    class="form-control"
                    name="content"
                    placeholder="Your Message"
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="button btn">
                  <button class="sender" href="" type="submit">SEND</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-logo">Whitten Oswald</div>
          <div class="social-link">
            <a href="https://www.youtube.com/channel/UCK3bLIMxwYbCrhLdSqwk1fg"
              ><i class="fa fa-youtube"></i
            ></a>
            <a href="https://github.com/guswhitten/"
              ><i class="fa fa-github"></i
            ></a>
            <a href="https://www.linkedin.com/in/whitten-oswald-041077145/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>
    <section class="copyright">
      <div class="container">
        <p>© <span id="year"></span> | Whitten Oswald | All rights reserved.</p>
      </div>
    </section>
  </body>
</html>
