<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="keywords" content="HTML, CSS, JavaScript">
      <meta name="description"
         content="My software developer portfolio using Html, CSS, and JavaScript">
      <meta name="author" content="Whitten Oswald">
      <link rel="icon" type="image/png" href="/static/img/tree.png">
      <title>Whitten Oswald | Home</title>
      <link href="../static/css/header.css" rel="stylesheet" />
      <link href="../static/css/main.css" rel="stylesheet" />
      <link href="../static/css/home.css" rel="stylesheet" />
      <link href="../static/css/about.css" rel="stylesheet" />
      <link href="../static/css/portfolio.css" rel="stylesheet" />
      <link href="../static/css/service.css" rel="stylesheet" />
      <link href="../static/css/testimonials.css" rel="stylesheet" />
      <link href="../static/css/testimonials.css" rel="stylesheet" />
      <link href="../static/css/blog.css" rel="stylesheet" />
      <link href="../static/css/contact.css" rel="stylesheet" />
      <link href="../static/css/footer.css" rel="stylesheet" />
      
   </head>
   <body>
      <header>
         <div class="container">
            <div class="row">
               <div class="brand-name">
                  <a href="/static/img/Whitten_Oswald_856_739_6005_.pdf" target="_blank" class="fa-light"><i class="fas fa-file-pdf-o"></i>  Resumé </a>
               </div>
               <div class="hamburger">
                  <i class="fa fa-bars"></i>
               </div>
               <div class="navbar">
                  <ul>
                     <li><a href="home" class="active">Home</a></li>
                     <li><a href="projects">Projects</a></li>
                     <li><a href="arcade">Arcade</a></li>
                     <li><a href="fantasy">Fantasy</a></li>
                     <li><a href="#contact">Contact</a></li>
                     
                  </ul>
               </div>
            </div>
         </div>
      </header>

 <!-- HOME SECTION -->

      <section class="home" id="home">
         <div class="container">
            <div class="row full-screen">
               <div class="home-content">
                  <div class="blocky">
                     <h6>Hi, my name is</h6>
                     <h1>Whitten Oswald</h1>
                     <p>Welcome to my website.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>

 <!-- ABOUT ME SECTION -->

      <section class="about" id="about">
         <div class="container">
         <div class="row">
            <div class="title text-center">
               <h1>About Me</h1>
               <p>Learn more about my background</p>
            </div>
         </div>
         <div class="row">
            <div class="about-content">
               <div class="row">
                  <div class="img">
                     <img src="/static/img/me.png" alt='me' />
                  </div>
                  <div class="text">
                     <h4>I'm Whitten Oswald</h4>
                     <h6>A passionate & well-rounded <span>Software Engineer</span> 
                     </h6>
                     <p>With a background in Electrical & Computer Engineering,
                        I have a deep understanding of the fundamentals of computing 
                        and a broad knowledge base that is highly valuable in the 
                        software development life cycle.
                     </p>
                     <div class="skills">
                        
                        <div class="skills-list">
                        <ul  class="fa-ul">
                           <span class="fa-li"></span>Programming Languages:
                        <br></br>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> C++</li>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> C</li>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> Java</li>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> JavaScript</li>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> HTML5</li>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> CSS</li>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> TypeScript</li>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> XML</li>
                           <li><span class="fa-light"><i class="fas fa-code"></i></span> MATLAB</li>
                        </ul>
                        <ul  class="fa-ul">
                           <span class="fa-li"></span>Tools & Technologies:
                           <br></br>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> React.js</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> Git</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> Jira</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> Confluence</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> REST API</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> Node.js</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> Postman</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> MongoDB</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> Nginx</li>
                           <li><span class="fa-solid"><i class="fas fa-hammer"></i></span> Bootstrap</li>
                        </ul>
                        </div>
                     </div>
                     <div class="social">
                        <a href="https://www.youtube.com/channel/UCK3bLIMxwYbCrhLdSqwk1fg"><i class="fa fa-youtube"></i></a>
                        <a href="https://github.com/guswhitten/"><i class="fa fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/whitten-oswald-041077145/"><i class="fa fa-linkedin"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

 <!-- MOTIVATION SECTION -->

      <section class="testimonials">
         <div class="container">
            <div class="row">
               <div class="title text-center">
                  <h1>Motivation</h1>
               </div>
            </div>
            <div class="row">
               <div class="testimonials-content">
                  <div class="testimonials-box">
                     <div class="testimonials-img">
                        <div class="test-img">
                           <img src="/static/img/sagan.jpg" />
                        </div>
                        <div class="testimonials-text">
                           <p>“There are naive questions, tedious questions, ill-phrased 
                              questions, questions put after inadequate self-criticism. But 
                              every question is a cry to understand the world. There is no 
                              such thing as a dumb question.”</p>
                           <h6>Carl Sagan</h6>
                           <p1>The Demon Haunted World, 1995</p1>
                        </div>
                     </div>
                     <div class="testimonials-img">
                        <div class="test-img">
                           <img src="/static/img/mlk.jpg" />
                        </div>
                        <div class="testimonials-text">
                           <p>"The ultimate measure of a man is not where he stands in 
                              moments of comfort and convenience, 
                              but where he stands at times of challenge and controversy." </p>
                           <h6>Dr. Martin Luther King Jr.</h6>
                           <p1>Strength to Love, 1963</p1>
                        </div>
                     </div>
                     <div class="testimonials-img">
                        <div class="test-img">
                           <img src="/static/img/paine1.jpg" />
                        </div>
                        <div class="testimonials-text">
                           <p>“What we obtain too cheap, we esteem too lightly; 
                              it is dearness only that gives everything its value.”</p>
                           <h6>Thomas Paine</h6>
                           <p1>Common Sense, 1776</p1>
                        </div>
                     </div>
                     <div class="testimonials-img">
                        <div class="test-img">
                           <img src="/static/img/keller.jpg" />
                        </div>
                        <div class="testimonials-text">
                           <p>“One painful duty fulfilled makes the next plainer and easier.”</p>
                           <h6>Helen Keller</h6>
                           <p1>Story of My Life, 1903</p1>
                        </div>
                     </div>
                     <div class="testimonials-img">
                        <div class="test-img">
                           <img src="/static/img/franklin.jpg" />
                        </div>
                        <div class="testimonials-text">
                           <p>“Well done is better than well said.”</p>
                           <h6>Benjamin Franklin</h6>
                           <p1>Poor Richard's Almanack, 1737</p1>
                        </div>
                     </div>
                     <div class="testimonials-img">
                        <div class="test-img">
                           <img src="/static/img/twain.jpg" />
                        </div>
                        <div class="testimonials-text">
                           <p>“Make it a point to do something every day that you don't want to do. This is the golden rule for acquiring the habit of doing your duty without pain.”</p>
                           <h6>Mark Twain</h6>
                           <p1>Following the Equator, 1897</p1>
                        </div>
                     </div>
                  </div>
                  <div class="slider"></div>
               </div>
            </div>
         </div>
      </section>

 <!-- WHAT I'M WATHCING SECTION -->

      <section class="blog" id="blog">
         <div class="container">
            <div class="row">
               <div class="title text-center">
                  <h1>What I'm Watching</h1>
               </div>
            </div>
            <div class="row">
               <div class="blog-content">
                  <div class="blog-box">
                     <div class="blog-img">
                        <img src='/static/img/1.jpg' />
                     </div>
                     <div class="blog-text">
                        <div class="blog-info">
                           <span>Mar 21, 2011</span>
                           <span></span>
                        </div>
                        <h3>Everything & Nothing</h3>
                        <p>A brilliant documentary examining the history and culmination of human understanding about <br>
                           [Part 1]: the furthest reaches of the universe (everything) <br>
                           [Part 2]: the vacuum / void / emptiness (nothing) <br><br>
                           Directors: Nic Stacey <br>
                           Genres: Documentary, International, Special Interest <br>
                        </p>
                        <a href="">Watch</a>
                     </div>
                  </div>
                  <div class="blog-box">
                     <div class="blog-img">
                        <img src='/static/img/2.png' />
                     </div>
                     <div class="blog-text">
                        <div class="blog-info">
                           <span>Dec 2017</span>
                        </div>
                        <h3>Dark</h3>
                        <p> In the aftermath of a child's disappearance, Dark follows characters 
                           from the fictional German town of Winden as they pursue the truth. 
                           They follow connections between four estranged families to unravel a 
                           sinister time travel conspiracy which spans several generations. <br><br>
                           Creators: Baran bo Odar, Jantje Friese <br>
                           Genre: Thriller, Mystery <br>
                        </p>
                        <a href="">Watch</a>
                     </div>
                  </div>
                  <div class="blog-box">
                     <div class="blog-img">
                        <img src='/static/img/3.jpg' />
                     </div>
                     <div class="blog-text">
                        <div class="blog-info">
                           <span>Oct 13, 2021</span>
                        </div>
                        <h3>Dopesick</h3>
                        <p>Based on real events, focuses on "the epicenter of America's 
                           struggle with opioid addiction" across the U.S. Produced as a drama, the
                           series portrays the series of events in the late 1990s/early 2000s 
                           centered around Purdue Pharma as they aggressively market their new drug
                           Oxycontin, and the tragic results that unfolded. <br><br>
                           Director: Danny Strong <br>
                           Genre: Drama <br>
                        </p>
                        <a href="">Watch</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

 <!-- CONTACT SECTION -->

      <section class="contact" id="contact">
         <div class="container">
            <div class="row">
               <div class="title text-center">
                  <h1>Contact</h1>
               </div>
            </div>
            <div class="row">
               <div class="contact-form">
                  <div class="row">
                     <div class="contact-text">
                        <h2>Question, comment, criticism?</h2>
                        <p>Lay it on me.</p>
                     </div>
                  </div>
                  <form action="https://formsubmit.co/whittenoswald@gmail.com" method="POST">
                     <input type="hidden" name="_subject" value="Email from website!!">
                     <div class="row space-between">
                        <div class="col-6">
                           <input type="text" class="form-control" name="name" placeholder="Name" required/>
                        </div>
                        <div class="col-6">
                           <input type="email" class="form-control" name="email" placeholder="Email Address" required/>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-12">
                           <textarea class="form-control" name="content" placeholder="Your Message"></textarea>
                        </div>
                     </div>
                     <div class="row">
                        <div class="button btn">
                           <button class="sender" href= "" type="submit">SEND</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>

 <!-- FOOTER SECTION -->

      <footer>
         <div class="container">
            <div class="row">
               <div class="footer-logo">Whitten Oswald</div>
               <div class="social-link">
                  <a href="https://www.youtube.com/channel/UCK3bLIMxwYbCrhLdSqwk1fg"><i class="fa fa-youtube"></i></a>
                  <a href="https://github.com/guswhitten/"><i class="fa fa-github"></i></a>
                  <a href="https://www.linkedin.com/in/whitten-oswald-041077145/"><i class="fa fa-linkedin"></i></a>
               </div>
            </div>
         </div>
      </footer>
      <section class="copyright">
         <div class="container">
            <p>© <span id="year"></span> | Whitten Oswald | All rights reserved.</p>
         </div>
      </section>
      <script src="../static/js/homepage.js"></script>
   </body>
</html>

