<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/img/football.png" />
    <title>Whitten Oswald | Fantasy</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <center>
      <div class="row">
        <div class="container">
          <div class="title text-center">
            <h1>Fantasy Football</h1>
          </div>
          <div>
            <form method="POST" action="{{ url_for('views.fantasy') }}">
              <div>
                <label for="id">League ID</label>
                <input
                  type="id"
                  class="form-control"
                  id="id"
                  name="id"
                  placeholder="Enter league id"
                />
              </div>
              <div>
                <label for="year">Year</label>
                <input
                  type="text"
                  class="form-control"
                  id="year"
                  name="year"
                  placeholder="Enter year (YYYY)"
                />
              </div>
              <br />
              <button type="submit" class="btn btn-primary">Find League</button>
            </form>
          </div>
          <br />
          <div>
            {% if displayLeagueInfo %}
            <div align="center">
              <h2>League Found!</h2>
              <br />
              <p>League Name: {{ leagueName }}</p>
            </div>
            <form method="POST" action="{{ url_for('views.bar_chart_race') }}">
              <input type="id" name="id" value="{{ id }}" />
              <input type="text" name="year" value="{{ year }}" />
              <button type="submit" class="btn btn-primary">Create MP4</button>
            </form>
            {% endif %}
          </div>

          <div>
            {% if display %}
            <div align="center">
              <video width="400" height="300" controls>
                <source src="../static/img/fantasy.mp4" type="video/mp4" />
              </video>
              <br />
              <a href="../static/img/fantasy.mp4" download>
                <button type="button">Download mp4</button>
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </center>
  </body>
</html>
