<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/static/img/tool.png" />
    <title>Whitten Oswald | Projects</title>
    <link href="../static/css/header.css" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href="../static/css/home.css" rel="stylesheet" />
    <link href="../static/css/about.css" rel="stylesheet" />
    <link href="../static/css/portfolio.css" rel="stylesheet" />
    <link href="../static/css/service.css" rel="stylesheet" />
    <link href="../static/css/testimonials.css" rel="stylesheet" />
    <link href="../static/css/testimonials.css" rel="stylesheet" />
    <link href="../static/css/blog.css" rel="stylesheet" />
    <link href="../static/css/contact.css" rel="stylesheet" />
    <link href="../static/css/footer.css" rel="stylesheet" />
  </head>

  <body>
    <!-- NAVBAR SECTION -->

    <header>
      <div class="container">
        <div class="row">
          <div class="brand-name">
            <a
              href="/static/img/Whitten_Oswald_856_739_6005_.pdf"
              target="_blank"
              class="fa-light"
              ><i class="fas fa-file-pdf-o"></i> Resumé
            </a>
          </div>
          <div class="hamburger">
            <i class="fa fa-bars"></i>
          </div>
          <div class="navbar">
            <ul>
              <li><a href="home">Home</a></li>
              <li><a href="projects" class="active">Projects</a></li>
              <li><a href="arcade">Arcade</a></li>
              <li><a href="fantasy">Fantasy</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!-- HOME SECTION -->

    <section class="home" id="home">
      <div class="container">
        <div class="row full-screen">
          <div class="home-content">
            <div class="blocky">
              <h1>Projects</h1>
              <p>
                Occasionally under construction. Thank you for your patience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PROJECTS SECTION -->

    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="title text-center">
            <h1>My Projects</h1>
          </div>
        </div>
        <div class="row">
          <div class="filter-btn">
            <ul id="filterBtn">
              <li class="active" data-target="all">All</li>
              <li data-target="mfc">My Face Cards</li>
              <li data-target="game">Games</li>
              <li data-target="ui">Misc.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="gallery">
            <div class="item" data-id="game">
              <div class="inner">
                <img src="/static/img/tictactoe.JPG" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>Tic Tac Toe</h4>
                </div>
              </div>
            </div>
            <div class="item" data-id="mfc">
              <div class="inner">
                <img src="/static/img/a.jpg" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>King of Clubs</h4>
                </div>
              </div>
            </div>
            <div class="item" data-id="mfc">
              <div class="inner">
                <img src="/static/img/ch.jpg" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>King of Hearts</h4>
                </div>
              </div>
            </div>
            <div class="item" data-id="game">
              <div class="inner">
                <img src="/static/img/rps.JPG" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>RPS</h4>
                </div>
              </div>
            </div>
            <div class="item" data-id="mfc">
              <div class="inner">
                <img src="/static/img/h.jpg" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>Queen of Spades</h4>
                </div>
              </div>
            </div>
            <div class="item" data-id="game">
              <div class="inner">
                <img src="/static/img/breakout.JPG" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>Breakout</h4>
                </div>
              </div>
            </div>
            <div class="item" data-id="mfc">
              <div class="inner">
                <img src="/static/img/whit5.jpg" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>Jack of Diamonds</h4>
                </div>
              </div>
            </div>
            <div class="item" data-id="mfc">
              <div class="inner">
                <img src="/static/img/whit2.jpg" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>King of Spades</h4>
                </div>
              </div>
            </div>
            <div class="item" data-id="mfc">
              <div class="inner">
                <img src="/static/img/whit3.jpg" alt="portfolio" />
                <div class="overlay">
                  <span class="fa fa-plus"></span>
                  <h4>King of Clubs</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- CONTACT SECTION -->

    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="title text-center">
            <h1>Contact</h1>
          </div>
        </div>
        <div class="row">
          <div class="contact-form">
            <div class="row">
              <div class="contact-text">
                <h2>Question, comment, criticism?</h2>
                <p>Lay it on me.</p>
              </div>
            </div>
            <form
              action="https://formsubmit.co/whittenoswald@gmail.com"
              method="POST"
            >
              <input
                type="hidden"
                name="_subject"
                value="Email from website!!"
              />
              <div class="row space-between">
                <div class="col-6">
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Name"
                    required
                  />
                </div>
                <div class="col-6">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Email Address"
                    required
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <textarea
                    class="form-control"
                    name="content"
                    placeholder="Your Message"
                  ></textarea>
                </div>
              </div>
              <div class="row">
                <div class="button btn">
                  <button class="sender" href="" type="submit">SEND</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER SECTION -->

    <footer>
      <div class="container">
        <div class="row">
          <div class="footer-logo">Whitten Oswald</div>
          <div class="social-link">
            <a href="https://www.youtube.com/channel/UCK3bLIMxwYbCrhLdSqwk1fg"
              ><i class="fa fa-youtube"></i
            ></a>
            <a href="https://github.com/guswhitten/"
              ><i class="fa fa-github"></i
            ></a>
            <a href="https://www.linkedin.com/in/whitten-oswald-041077145/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </div>
        </div>
      </div>
    </footer>
    <section class="copyright">
      <div class="container">
        <p>© <span id="year"></span> | Whitten Oswald | All rights reserved.</p>
      </div>
    </section>
    <div class="lightbox hide">
      <span class="close-lightbox fa fa-close"></span>
      <img src="" alt="portfolio" />
    </div>
    <script src="../static/js/app.js"></script>
  </body>
</html>
